ADMIN_EMAIL=abduldeenkamara06@gmail.com
ADMIN_PASSWORD=Ingr.deen10737
ADMIN_PHONE=+23274132162
ADMIN_FORCE_RESET=false


# Database Credentials
DB_URL=jdbc:postgresql://10.0.0.29:5432/deenwallet_db
DB_USERNAME=deenwallet
DB_PASSWORD=Abdul@10737

# Server Configuration
SERVER_PORT=8082

# Mail Configuration
MAIL_HOST=smtp.queensmtp.com
MAIL_PORT=587
MAIL_USERNAME=abduldeenkamara-yfn971@smtp.queensmtp.com
MAIL_PASSWORD=2FTxunmxje4FzssZcNsq
MAIL_FROM_EMAIL=no-reply@deenwallapp.com

# JWT & Firebase Configuration
JWT_SECRET=BDfTWfHdrc5cRWeZgSkOGEb3VpFg4ihRxqAL2LMowltUBuVmS_oW8IKVhNzIR9or
FIREBASE_SERVICE_ACCOUNT_PATH=/var/www/deenwallet/firebase-key.json

# CORS Allowed Origins
CORS_ALLOWED_ORIGINS=https://deenwallapp.com,https://www.deenwallapp.com,https://api.deenwallapp.com

# Monime Payment API Integration
MONIME_ACCESS_TOKEN=mon_poVXdJm7AXFy6zqBj8KaA4YihSTvRY99mAiDhUxUijfnYLrxrmwCQFyZuQfeVgi0
MONIME_SPACE_ID=spc-k6V5z6hcHcFoR8YnXXRvXX7Z4tT
MONIME_WEBHOOK_SECRET=snTdandSNoAsA6kqXqHdwhIOITuxH9xSYwOYkVlPLdYuaH89
MONIME_DEFAULT_FINANCIAL_ACCOUNT_ID=fac-k6V5z6msVkXKSv49z9wYpZv8bY9

SUPPORT_TOKEN=XJcHLznOUbSEKmmTteTl_CoYajuuMR_ZaC98bCK6kAs